Rect:
	parent="v1";
	location="0, 0";
	width="750%";
	height="30px";
	name="$0";
	bg_color="dark_grey";

Image:
	src="$2";
	width="24px";
	height="24px";
	location="3, 3";
	color="red";

Text:
	content="$1";
	location="30, 0";
	font_size="10";
	color="white";
	height="30px";

