Rect:
	location="0, 0";
	width="100%";
	height="30px";
	name="$0";
	bg_color="dark_grey";

Image:
	parent="$0";
	name="DEBUG";
	src="$2";
	width="24px";
	height="24px";
	location="3, 3";
	color="white";

Text:
	parent="$0";
	content="$1";
	location="30, 0";
	font_size="10";
	color="white";
	height="30px";

Image:
	src="icon_keyboard_right";
	width="24px";
	height="24px";
	location="283, 3";
	color="white";

