Rect:
	parent="v1";
	width="294px";
	height="40px";
	name="$0";
	location="8, 0";
	bg_color="32,32,32";

Text:
	parent="$0";
	color="white";
	location="16, 8";
	height="24px";
	content="$1";
	width="139px";
	text_align="left";

Text:
	parent="$0";
	name="$0_value";
	text_align="right";
	location="162px, 8";
	content="0";
	width="132px";
	height="24px";
	color="orange";